*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Cormorant Garamond', 'serif';
    background-color: rgba(255, 255, 255, 1);
    height: 100vh;
    overflow: auto;
}

header,
main {
    margin: 0 auto;
    max-width: 60rem;
    padding: 1.5rem 1rem;
}

header {
    background-image: url("../assets/images/library_cover.png");
    background-size: cover;
    height: clamp(8rem, 20vh, 12rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

main {
    position: relative; /* Required for modal positioning */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    padding: 2.5rem 0;
    text-align: center;
}

h1 {
    font-size: clamp(2em, 4vh, 4em);
    font-weight: 700;
    color: #FFF;
    text-align: center;
}

h2 {
    font-family: 'Oswald', 'sans-serif';
    font-size: 1.25em;
}

label {
    font-size: 1.1em;
}

button,
input[type="submit"],
input[type="text"],
input[type="number"] {
    font-family: inherit;
    line-height: 1;
}

input[type="text"],
input[type="number"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1em;
}

button,
input[type="submit"] {
    cursor: pointer;
    background-color: transparent;
    outline: 0;
    border: 0;
    font-size: 1.1em;
}

#add-btn,
input[type="submit"] {
    border: 1px solid black;
    border-radius: 25px;
    background-color: black;
    color: #FFF;
    font-size: 1.2em;
    font-size: 1.2em;
    font-weight: 600;
    padding: 1rem 1.2rem;
}

.icon {
    height: 1.1rem;
    width: auto;
    cursor: pointer;
}

#return {
    padding: 1.5rem 0;
}

.search-bar {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
}

#book-filter {
    border: none;
    flex-grow:1;
    padding-left: 1rem;
}

#book-filter::placeholder {
    opacity: 0.95;
}

.options {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.book-category.active {
    border-bottom: solid 1px black;
    font-weight: 600;
}

.add-book-form {
    display: grid;
    gap: 0.5rem;
}

.form-group {
    display: grid;
    gap: 0.2rem;
}

.form-group,
.form-group:last-child {
    padding-top: 1.5rem;
}

.form-group:nth-child(4) {
    display: inline-block;
}

.book-list {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.book-card {
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    min-height: 200px;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-card__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.book-card__options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.status-checkbox {
    display: inline-block;
}

.modal {
    position: absolute;
    /* left: calc(50% - 15rem); */
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 2rem;
    background-color: #FFF;
    border-radius: 25px;
    display: none;
}
  
.modal.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}

#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    z-index: 10;
    pointer-events: none;
    display: none;
}
  
#backdrop.visible {
    display: block;
    pointer-events: all;
}

@media (min-width: 734px) {

    footer {
        position: sticky;
        padding: 5rem 0;
    }

    .modal {
        left: calc(50% - 15rem);
        width: 30rem;
    }

    .book-list {
        grid-template-columns: repeat(3, 1fr);
    }
}